.gradle
.qodana
build/
exmpl/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

!/src/main/java/com/gllllepulla/plugin/grammar/Asn.bnf
/src/main/java/com/gllllepulla/plugin/grammar/*.bnf

/src/main/gen
/src/main/kotlin

*.flex
