.gradle
.qodana
build/
exmpl/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/src/main/java/com/gllllepulla/plugin/grammar/exmpl.bnf
/src/main/java/com/gllllepulla/plugin/grammar/monkey.bnf

/src/main/gen
